:host {
  display: inline-block;
  vertical-align: baseline;
}

div.flex {
  align-items: baseline;
}

svg {
  vertical-align: top;
  border: 0.1vmin solid lightgray;
  stroke-width: 0;
}

div.buttons * + * {
  margin-left: 1ex;
}

div.buttons {
  margin-bottom: 1ex;
}

text {
  font: normal 15px sans-serif;
  fill: black;
  text-anchor: middle;
}

.margin {
  fill: transparent;
}

.border {
  fill: black;
}

.fill {
  fill: white;
}

.handle.selected {
  fill: #cfe9fa;
}

.handle:hover {
  cursor: move;
}

rect.text {
  fill: #ffffffc8;
}

rect.box {
  fill: transparent;
}

g.element:hover rect.box {
  fill: #249be638;
}

g.element:hover rect.text {
  fill: transparent;
}
